{% extends 'djangoapp/static_template.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script
        src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

<body>
    <!-- Remove this line the first time you edit this file -->
    <!--Add a nav bar here -->

    <!--Add a dealer table here -->
    {% block content %}
    <div class="container mt-4">
        <h1>All Dealers</h1>
        <h5>Click on dealer's name to see reviews</h4>
        <table class="table" id="table" data-filter-control="true" data-toggle="table" data-pagination="true">
            <thead>
                <tr>
                    <th data-field="ID">ID</th>
                    <th data-field="dealer_name">Dealer Name</th>
                    <th data-field="City">City</th>
                    <th data-field="Address">Address</th>
                    <th data-field="Zip">Zip</th>
                    <th data-field="state" data-filter-control="select">state</th>
                </tr>
            </thead>
            <tbody>
                <!-- Assuming `dealership_list` is an array of dealer objects -->
                <!-- You should loop through the array and add a row for each dealer -->
                <!-- Replace the dummy data below with your actual dealer objects -->
                {% for dealer in dealership_list %}
                <tr>
                    <td>{{ dealer.id }}</td>
                    <td><a onclick="location.href='{% url 'djangoapp:dealer_details' dealer.id %}'"
                            class="text-primary">{{ dealer.full_name }}</a></td>
                    <td>{{ dealer.city }}</td>
                    <td>{{ dealer.address }}</td>
                    <td>{{ dealer.zip }}</td>
                    <td>{{ dealer.st }}</td>
                </tr>
                {% endfor %}
                <!-- Add more rows for each dealer object in the list -->
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>


<script>
    $(function () {
        $('#table').bootstrapTable()
    })
</script>


</html>